.about-me-container{
    background: var(--about-me-bg-light-pink);
    background: linear-gradient(90deg, var(--about-me-bg-light-pink) 33%, var(--about-me-bg-pink) 33%);
    background-repeat: no-repeat;
    background-size: cover;

}

.about-me-container .row{
    display: flex;
    justify-content: center;
}

.about-me-container .front-picture{
    .img-fluid{
        width: 100%;
        object-fit: cover;
        z-index: 1;
    }   
}

.about-me-container .header-text{
    .text{
        font-size: 2rem;
        background-color: var(--about-me-bg-header-text);
        line-height: 5rem;
        color: var(--about-me-header-text);
        padding: 0.2em;
    }
}

.about-me-container .body-text{
    padding: 0 3rem 0 3rem;

    line-height: 2rem;
}