.fun-fact-container{
    background-color: var(--fun-facts-bg-light-pink);

    margin: 0 auto 0 auto;
}

.fun-fact-container .header-text{
    font-size: 2.75rem;

    display: flex;
    justify-content: center;
}

.fun-fact-container .header-text .underline-header{
    display: inline-block;

    font-size: 2.75rem;

    position: relative;
    text-decoration: none;
  
    z-index: 1;

    margin-bottom: 1.2rem;
}

.fun-fact-container .header-text .underline-header::after{
    content: '';

    position: absolute;

    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1.2rem;

    background-color: var(--fun-facts-underline);

    z-index: -1;
}


.fun-fact-container .list-facts-container{
    display: flex;
    justify-content: space-evenly;
}

.fun-fact-container .white-bg-container{
    background-color: var(--fun-facts-bg-white);

    margin-top: 1rem;
    margin-bottom: 1rem;

    padding: 1rem 2rem 1rem 2rem;

    display: flex;
    justify-content: center;

    position: relative;

    line-height: 2rem;
}

.fun-fact-container .pink-bg-container{
    background-color: var(--fun-facts-bg-pink);

    margin-top: 1rem;
    margin-bottom: 1rem;

    padding: 1rem 2rem 1rem 2rem;

    display: flex;
    justify-content: center;

    position: relative;

    line-height: 2rem;
}

.fun-fact-container .heart-design{
    position: absolute;
    top: 50%;
    left: -4%;
}

.fun-fact-container a{
    text-decoration: none;
    color: var(--fun-facts-black);
}