.navbar{
  background: var(--about-me-bg-light-pink);
  background: linear-gradient(90deg, var(--about-me-bg-light-pink) 33%, var(--about-me-bg-pink) 33%);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid{
  padding: 0 5rem 0 5rem;
}

.collapse {
  flex-grow: 0;
  .nav-item{
    padding: 0 2rem 0 2rem;
  }
  .nav-link:hover {
    background-color: var(--navbar-on-hover);
  }
}


.navbar-brand{
  font-size: 1.8rem;
  position: relative;
  text-decoration: none;

  z-index: 1;
}

.navbar-brand::after {
  content: '';

  position: absolute;

  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1.2rem;

  background-color: var(--navbar-underline);

  z-index: -1;
}

