:root {
    --light-bg: #fff;
    --light-text: #000;
    --dark-bg: #333;
    --dark-text: #fff;
    --switch-light-bg: #ddd;
    --switch-dark-bg: #555;
    --switch-knob-bg: white;
    --switch-knob-shadow: rgba(0, 0, 0, 0.2);
}