.started-container{
    background-color: var(--started-bg-light-pink);

    padding: 5rem 0 5rem 0;
}

.started-container .header-text{
    display: inline-block;

    font-size: 2.75rem;

    position: relative;
    text-decoration: none;
  
    z-index: 1;

    margin-bottom: 1.2rem;
}

.started-container .header-text::after{
    content: '';

    position: absolute;

    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1.2rem;

    background-color: var(--started-underline);

    z-index: -1;
}

.started-container .body-text{
    display: inline-block;

    font-size: 1.2rem;

    margin-bottom: 1rem;

    line-height: 2rem;
}