* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #444;
	background-color: #f8f8f8;
}

/* ALL SECTION SEGMENTS START */
section {
	padding: 6rem 2rem;
}

section h2 {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 3rem;
	color: #ff5a5f;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section p {
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 0;
	text-align: center;
}

section ul {
	list-style: none;
	margin-top: 3rem;
}

section ul li {
	margin-bottom: 2.5rem;
	padding: 2.5rem;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: relative;
	transition: transform 0.2s ease-in-out;
}

section ul li:hover {
	transform: translateY(-10px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section ul li h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

section ul li p {
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 1rem;
}

section ul li::before {
	content: "";
	display: block;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 60px;
	background-color: #ff5a5f;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: -1;
}

section ul li::after {
	content: "";
	display: block;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	width: 60px
}

/* @media screen and (max-width: 800px){
	section{
		width: ;
	}
} */